#t-div span {
  font-size: 30vw;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd,
    2px 2px 2px rgba(206, 89, 55, 0);
}

#logo {
  animation: fill 2s ease forwards 3s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 219;
  stroke-dashoffset: 219;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 245;
  stroke-dashoffset: 245;
  animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: line-anim 2s ease forwards 1s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 142;
  stroke-dashoffset: 142;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #363538;
  }
}
